################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicLover.WebApp/.vs/MusicLover.WebApp/v15/Server/sqlite3
